body{
	text-align: left;
	background: grey;
	font: 16px arial, sans-serif;
	color: black;
}

header{
	background-color: black;
	color: white;
	text-align: center;
  	height: 200px;
  	margin-bottom: 10px;
}


footer{
	background-color: black;
	color: white;
  	height: 100px;
  	margin-bottom: 10px;
}

img{
	max-width: 200px;
    height: 200px;
    padding: 15px; /* Расстояние от картинки до рамки */
}
.page-title{
	font-size: 20px;
	text-align: center;
}

.canal_1{
	border:2px double crimson;
	border-radius: 50%;
}

.vondel{
	border:2px double green;
	border-radius: 50%;

}

.rembrandt{
	border:2px double orange;
	border-radius: 50%;
}

.description{
	font-style: italic;
	text-align: center;
}