*{
	margin:0;
	padding:0;
	font: 16px arial, sans-serif;
}

body{
	text-align: left;
	background: grey;
	color: black;
}

header{
	background-color: black;
	color: white;
  	height: 100px;
  	font: 25px;
  	text-align: center;
}


footer{
	background-color: black;
	color: white;
  	height: 100px;
  	text-align: center;
}

img{
	max-width: 200px;
    height: 200px; /* Расстояние от картинки до рамки */
}

.page-title{
	font-size: 20px;
	text-align: center;
}

.places{
	display: inline-block;
}

.canal_1{
	border:2px double crimson;
	border-radius: 50%;
}

.vondel{
	border:2px double green;
	border-radius: 50%;

}

.rembrandt{
	border:2px double orange;
	border-radius: 50%;
}

.description{
	font-style: italic;
	text-align: center;
}